* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root {
    --color-dark: rgb(14, 14, 14);
    --color-dark2: rgb(32, 32, 32);
    --color-white: #fff;
    --color-green: rgb(103, 195, 80);
    --color-green2: rgb(51, 149, 26);
    --color-red: rgb(184, 40, 35);
    --color-red2: rgb(146, 22, 17);
    --color-blue: rgb(18, 37, 209);
    
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-dark);
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: var(--color-white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form input, form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form button {
    background-color: #4caf50;
    color: var(--color-white);
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: var(--color-green2);
}
button{
    color: var(--color-white);
    width: 60px;
    background: var(--color-red);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#lista-itens li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

#logout-btn{
    background-color: var(--color-blue);
    
    border: none;
    cursor: pointer;
}

/* Estilização do container de finalização */
.finalizar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

/* Estilo para o input "Nome da lista" */
#nome-lista {
    padding: 6px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilização geral para os botões */
#finalizar-compra, .btn-historico {
    width: auto;
    padding: 3px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Cor para o botão "Finalizar Compra" */
#finalizar-compra {
    background-color: #28a745;
}

#finalizar-compra:hover {
    background-color: #218838;
}

/* Cor para o botão "Ver Histórico" */
.btn-historico {
    background-color: #dc3545;
}

.btn-historico:hover {
    background-color: #c82333;
}

/* Ajuste para responsividade */
@media (max-width: 500px) {
    .finalizar-container {
        flex-direction: column;
    }

    #nome-lista {
        width: 100%;
    }
}

/* Estilização do botão de exclusão */
#excluir-selecionados {
    width: auto;
    padding: 4px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #ff6347;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#excluir-selecionados:hover {
    background-color: #ff3b20;
}

/* Ajuste nos checkboxes */
.checkbox-compra {
    margin-right: 10px;
    transform: scale(1.3);
    cursor: pointer;
}

