* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root {
    --color-dark: rgb(14, 14, 14);
    --color-dark2: rgb(32, 32, 32);
    --color-white: #fff;
    --color-green: rgb(103, 195, 80);
    --color-green2: rgb(51, 149, 26);
    --color-red: rgb(184, 40, 35);
    --color-red2: rgb(146, 22, 17);
    --color-blue: rgb(18, 37, 209);
    
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-dark);
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: var(--color-white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form input, form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form button {
    background-color: #4caf50;
    color: var(--color-white);
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: var(--color-green2);
}
button{
    color: var(--color-white);
    width: 60px;
    background: var(--color-red);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#lista-itens li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

#logout-btn{
    background-color: var(--color-blue);
    
    border: none;
    cursor: pointer;
}